@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}
@mixin page {
  width: min(1320px, calc(100% - 64px));
  margin-inline: auto;
  @include mobile {
    width: min(100% - 32px, 1320px);
  }
}

@mixin subTitle(
  $font-size: 13px,
  $padding-top: 0,
  $padding-right: 0,
  $padding-bottom: 0,
  $padding-left: 0
) {
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  font-size: $font-size;
}

@mixin mainTitle(
  $font-size: 30px,
  $padding-top: 0,
  $padding-right: 0,
  $padding-bottom: 0,
  $padding-left: 0
) {
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  font-size: $font-size;
}

@mixin title(
  $font-size: 17px,
  $padding-top: 0,
  $padding-right: 0,
  $padding-bottom: 0,
  $padding-left: 0
) {
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  font-size: $font-size;
}
