@use "../styles/variables" as *;
.nav {
  display: flex;
  position: fixed !important;
  z-index: 50;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(58px + env(safe-area-inset-bottom));
  background: #f7f7f7;
  border-top: 1px solid #eee;
  align-items: center;
  justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
  transform: translateZ(0);
}
.nav a,
.addItem,
.addButton {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: #111;
}
.addItem {
  position: relative;
  height: 100%;
}
.addButton {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.nav a > span {
  height: 25px;
  display: grid;
  place-items: center;
}
.nav a > span img {
  width: 23px;
  height: 23px;
  display: block;
}
.nav small {
  font-size: 8px;
}
.nav .add {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #ddd;
}
.nav .add img {
  width: 22px;
  height: 22px;
}
.active small {
  font-weight: 700;
}
.scrim {
  position: fixed;
  z-index: 49;
  inset: 0;
  border: 0;
  background: rgba(0, 0, 0, 0.34);
  padding: 0;
}
.balancePrompt {
  position: fixed;
  z-index: 52;
  display: grid;
  width: 110px;
  height: 70px;
  transform: translateX(-50%);
  border: 0;
  background: url("/BalanceGame/pong.svg") center / 100% 100% no-repeat;
  padding: 9px 8px 16px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  line-height: 1.7;
  place-items: center;
  cursor: pointer;
   text-align: left;
}
.balancePrompt span{
  margin-bottom: 0.5rem;
}
.gamePrompt {
  right: auto;
  bottom: calc(49px + env(safe-area-inset-bottom));
  left: 62%;
  top: -150%;
  line-height: 1.7;
  text-align: left;
}
.balancePrompt b {
  display: inline-grid;
  min-width: 31px;
  height: 17px;
  border-radius: 9px;
  background: #f4f1eb;
  color: #111;
  font-size: 9px;
  font-weight: 500;
  place-items: center;
}
.searchPrompt {
  right: auto;
  bottom: calc(113px + env(safe-area-inset-bottom));
  left: 62%;
  top: -280%;
}
@media (min-width: 641px) {
  .nav,
  .scrim {
    display: none;
  }
}
