@use "../styles/variables" as *;
.nav {
  display: flex;
  position: fixed !important;
  z-index: 50;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(58px + env(safe-area-inset-bottom));
  background: #f7f7f7;
  border-top: 1px solid #eee;
  align-items: center;
  justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
  transform: translateZ(0);
}
.nav a {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: #111;
}
.nav a > span {
  height: 25px;
  display: grid;
  place-items: center;
}
.nav a > span img {
  width: 23px;
  height: 23px;
  display: block;
}
.nav small {
  font-size: 8px;
}
.nav .add {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #ddd;
}
.nav .add img {
  width: 22px;
  height: 22px;
}
.active small {
  font-weight: 700;
}
@media (min-width: 641px) {
  .nav {
    display: none;
  }
}
