@use "../styles/variables" as *;
.card {
  a {
    display: block;
  }
  .visual {
    height: 390px;
    padding: 18px;
    color: #fff;
    position: relative;
    overflow: hidden;
    background: #9b725e;
    &:after {
      content: "";
      position: absolute;
      inset: 20% -20%;
      background: #ffffff1f;
      transform: rotate(-12deg);
      border-radius: 50%;
    }
    span,
    em {
      position: absolute;
      z-index: 1;
      font-size: 10px;
      letter-spacing: 2px;
    }
    span {
      top: 18px;
      left: 18px;
    }
    em {
      bottom: 18px;
      right: 18px;
      font-style: normal;
    }
    b {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      font: 170px $serif;
      opacity: 0.65;
    }
    .blue {
      background: #557481;
    }
    .red {
      background: #914d3f;
    }
    .green {
      background: #63755d;
    }
    .night {
      background: #34353c;
    }
    .gold {
      background: #a88958;
    }
  }
  .meta {
    padding: 17px 0;
    border-top: 1px solid $ink;
    margin-top: 10px;
    small {
      font-size: 9px;
      letter-spacing: 1.5px;
      color: $muted;
    }
    h3 {
      font: 25px $serif;
      margin: 12px 0 10px;
    }
    p {
      font-size: 11px;
      color: $muted;
    }
  }
}
